
<div class="container">
  <div class="row">
    <h1>Performance Management</h1>
  </div>
  <div class="row">
    <div class="btn-group-justified" role="group">
      <button type="button" class="btn-default" routerLink="./" routerLinkActive="active">
        Home
      </button>
      <button type="button" class="btn-default" routerLink="./admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isAdmin">
        Admin Area
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>